name: Build and deploy Jekyll site

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Jekyll site
        uses: actions/jekyll-build-pages@v1
        with:
          source: .          # <- build from repo root
          destination: ./_site
          future: false
          verbose: true
