name: Build and deploy Jekyll site

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build site
        uses: actions/jekyll-build-pages@v1
        with:
          source: .       # set to '.' if your site is in repo root
          destination: ./_site
          token: ${{ secrets.GITHUB_TOKEN }}
          verbose: true

      - name: Deploy to gh-pages
        if: success()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          publish_branch: gh-pages
